<div id="dashboard">
<div class="row-fluid">

	<div  class="span6 responsive" data-tablet="span6"
		 data-desktop="span6">
			
			<div   class="dashboard-stat blue">

				<div class="visual">

					<i class="icon-eye-open"></i>

				</div>

				<div class="details">

					<div class="number">

						页面总浏览量

					</div>

					<div class="desc">                           
						{$data.pv}

					</div>

				</div>

				
				<a class="more" href="javascript:;">
				详情 <i class="m-icon-swapright m-icon-white"></i>
				</a>
				                

			</div>

		</div>

		<div  class="span6 responsive" data-tablet="span6"
			 data-desktop="span6">

			<div class="dashboard-stat green">

				<div class="visual">

					<i class="icon-download"></i>

				</div>

				<div class="details">

					<div class="number">总下载数</div>

					<div class="desc">{$data['down']}</div>

				</div>

				<a class="more" href="javascript:;">

				详情 <i class="m-icon-swapright m-icon-white"></i>

				</a>                 

			</div>

		</div>

	</div>

</div>