<form action="__ACTION__" method="post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
<volist name="member" id="mem">
<div class="row-fluid">

			<div class="span12">

				<!-- BEGIN VALIDATION STATES-->

				<div class="portlet box purple">

					<div class="portlet-title">

						<div class="caption"><i class="icon-reorder"></i>会员<strong>{$mem.name}</strong>的信息</div>

						<div class="tools">

							<a href="javascript:;" class="collapse"></a>

							<a href="#portlet-config" data-toggle="modal" class="config"></a>

							<a href="javascript:;" class="reload"></a>

							<a href="javascript:;" class="remove"></a>

						</div>

					</div>

					<div class="portlet-body form">

						<!-- BEGIN FORM-->

							<div class="form-wizard">

						

								<div class="tab-content">

									<div class="alert alert-error hide">

										<button class="close" data-dismiss="alert"></button>

										信息填写错误，请检查

									</div>

									<div class="alert alert-success hide">

										<button class="close" data-dismiss="alert"></button>

										信息填写正确

									</div>

									<div class="tab-pane active" id="tab1">

										<h3 class="block">填写详细信息</h3>

										<div class="control-group">

											<label class="control-label">用户名<span class="required">*</span></label>

											<div class="controls">

												<input type="text" value="{$mem.name}" readonly class="span6 m-wrap" placeholder="Username" name="name_{$mem.id}">

												<span class="help-inline">该项不可修改</span>

											</div>

										</div>

										<div class="control-group">

											<label class="control-label">密码<span class="required">*</span></label>

											<div class="controls">

												<input type="password" placeholder="Password" class="span6 m-wrap" name="password_{$mem.id}" id="submit_form_password">

												<span class="help-inline">留空则不修改密码</span>

											</div>

										</div>

										<div class="control-group">

											<label class="control-label">确认密码<span class="required">*</span></label>

											<div class="controls">

												<input type="password" placeholder="Confirm Password" class="span6 m-wrap" name="repassword_{$mem.id}">

												<span class="help-inline">若不修改密码，则此项留空</span>

											</div>

										</div>
										<div class="control-group">

											<label class="control-label">邮箱<span class="required">*</span></label>

											<div class="controls">

												<input type="email" value="{$mem.email}" placeholder="Email" class="span6 m-wrap" name="email_{$mem.id}">

												<span class="help-inline">填写联系邮箱</span>

											</div>

										</div>
										<div class="control-group">

											<label class="control-label">手机号<span class="required">*</span></label>

											<div class="controls">

												<input type="text" value="{$mem.phone}" placeholder="Phone" class="span6 m-wrap" name="phone_{$mem.id}">

												<span class="help-inline">填写联系手机号</span>

											</div>

										</div>
										<div class="control-group">

											<label class="control-label">地址<span class="required">*</span></label>

											<div class="controls">

												<input type="text" value="{$mem.address}" placeholder="Address" class="span6 m-wrap" name="address_{$mem.id}">

												<span class="help-inline">填写联系地址</span>

											</div>

										</div>
										<div class="control-group">

											<label class="control-label">角色<span class="required">*</span></label>

											<div class="controls">

												<select class="large m-wrap" name="roleid_{$mem.id}" required tabindex="1">

													<volist name="role" id="v">
													<option <eq name="mem.role_id" value="$v.id">selected</eq> value="{$v.id}">{$v.role}</option>
													</volist>

												</select>

											</div>

										</div>
										
									</div>
							
								</div>

								

							</div>


						<!-- END FORM-->

					</div>

				</div>

				<!-- END VALIDATION STATES-->

			</div>

		</div>
		</volist>
		<div class="form-actions clearfix">
			
			<input type="submit" value="提交" class="btn blue" />

		</div>
		</form>

