<include file="./Application/Tool/View/header.html" />
<div class="row-fluid">

	<div class="span12 page-404">

		<div class="number">

			404

		</div>

		<div class="details">

			<h3>页面不存在</h3>

			<p>

				找不您所请求的页面，我们表示深深的歉意.<br>

				您可以    <a href="javascript:window.history.go(-1);">返回</a> 或者在下方搜索您需要的内容

			</p>

			<form action="#">

				<div class="input-append">                      

					<input class="m-wrap" size="16" type="text" placeholder="keyword...">

					<button class="btn blue">搜索</button>

				</div>

			</form>

		</div>

	</div>

</div>
<include file="./Application/Tool/View/footer.html" />