<div class="row-fluid">

	<div class="span12 responsive" data-tablet="span12 fix-offset" data-desktop="span12">

		<!-- BEGIN EXAMPLE TABLE PORTLET-->

		<div class="portlet box grey">

			<div class="portlet-title">

				<div class="caption"><i class="icon-user"></i>站点列表</div>

				<div class="actions">

					<a href="{:U('WebMag/webAdd',array('gw_id'=>$apInfo['gw_id']))}"
					   class="btn blue"><i
							class="icon-pencil"></i> 添加</a>


					<div class="btn-group">

						<a class="btn green" href="#" data-toggle="dropdown">

						<i class="icon-cogs"></i> 工具

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu pull-right">

							<li id="del" action="{:U('WebMag/delWebsite',array('gwId'=>$apInfo['gw_id']))}"><a
									href="javascript:;"><i
									class="icon-trash"></i> 删除</a></li>

						</ul>

					</div>

				</div>

			</div>

			<div class="portlet-body">

				<table class="table table-striped table-bordered table-hover" id="sample_3">

					<thead>

						<tr>

							<th style="width:8px;"><input type="checkbox"  class="group-checkable" data-set="#sample_3 .checkboxes" /></th>

							<th>站点ID</th>

							<th>站点标题</th>

							<th>ssid</th>

							<th class="hidden-480">模板风格</th>

							<th>管理</th>


						</tr>

					</thead>

					<tbody>

						<volist name="websites" id="ap">

						<tr class="odd gradeX">

							<td><input type="checkbox" class="checkboxes" value="{$ap.id}" /></td>

							<td>{$ap.id}</td>

							<td>{$ap.web_name}</td>

							<td>{$ap.ssid}</td>

							<td class="hidden-480">{$ap.tpl_style}</td>
							<!-- /Webbuild/index.php/Index/webconf/webid/{$ap.id} -->
							<td>
								<in name="ap.tpl_style" value="$tpls">
									<a class="btn blue" href="{:U($ap['tpl_style'].'/Index/index',array('gw_id'=>$apInfo['gw_id'],'webid'=>$ap['id']))}">管理</a>
								<else/>
									<a class="btn blue" href="{:U('We/Index/webconf',array('webid'=>$ap['id'],'gw_id'=>$apInfo['gw_id']))}">管理</a>
								</in>
								<a class="btn blue" href="{:U('WebMag/setWx',array('webid'=>$ap['id'],'gw_id'=>$apInfo['gw_id']))}">绑定微信</a>
								<a class="btn blue" href="{:U('WebMag/copy',array('webid'=>$ap['id'],'gw_id'=>$apInfo['gw_id']))}">复制</a>
							</td>

						</tr>

						</volist>

					</tbody>

				</table>

			</div>

		</div>

		<!-- END EXAMPLE TABLE PORTLET-->

	</div>

</div>
