<div class="row-fluid">

	<div class="span12">

		<!-- BEGIN EXAMPLE TABLE PORTLET-->

		<div class="portlet box blue">

			<div class="portlet-title">

				<div class="caption"><i class="icon-edit"></i>热点列表</div>

				<div class="tools">
					
						<a href="__URL__/ssidAdd/id/{$apInfo.id}/gw_id/{$apInfo.gw_id}" class="btn green">
	
							添加 <i class="icon-plus"></i>
	
						</a>
					</a>

				</div>

			</div>

			<div class="portlet-body">
				
				<div class="clearfix">
				
				</div>

				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

					<thead>

						<tr>
							<th>Id</th>
							
							<th>热点名称</th>

							<th class="hidden-480">频道</th>

							<th>状态</th>

						</tr>

					</thead>

					<tbody>
						<volist name="ssid" id="ap">
						
						<tr class="test">
							
							<td>{$ap.id}</td>
							
							<td>{$ap.ssid}</td>

							<td  class="hidden-480">{$ap.channel}</td>

							<td><eq name="ap.state" value="1"><span class="label label-warning">等待执行</span><else/><span class="label label-success">已添加到路由器</span></eq></td>

						</tr>
						</volist>

					</tbody>

				</table>

			</div>

		</div>

		<!-- END EXAMPLE TABLE PORTLET-->

	</div>

</div>