<div class="row-fluid">

	<div class="span12">

		<!-- BEGIN PORTLET-->   

		<div class="portlet box blue">

			<div class="portlet-title">

				<div class="caption"><i class="icon-reorder"></i>基本信息</div>


			</div>

			<div class="portlet-body form">

				<!-- BEGIN FORM-->

				<form action="{:U('save')}" class="form-horizontal" method="post">

					<input type="hidden" name="id" value="{$data.id}">
					<div class="control-group">

						<label class="control-label">邀请码</label>

						<div class="controls">

							<input type="text" value="{$data.ssid}" class="span6 m-wrap" name="ssid">

						</div>

					</div>
					<div class="control-group">

						<label class="control-label">邀请人</label>

						<div class="controls">

							<input type="text" value="{$data.gw_id}" class="span6 m-wrap" name="gw_id">

						</div>

					</div>

					<div class="control-group">

						<label class="control-label">模板名称<span class="required">*</span></label>

						<div class="controls">

							<input readonly type="text" value="{$data.tpl_style}" required class="span6 m-wrap">

							<span class="help-inline">该项不可修改</span>

						</div>

					</div>

					
					

					<div class="control-group">
						
						<div class="form-actions">

							<input type="submit" class="btn blue" value="提交">

						</div>

					</div>

				</form>

				<!-- END FORM-->  

			</div>

		</div>

		<!-- END PORTLET-->

	</div>

</div>