<div id="dashboard">

<div class="row-fluid">

		<div onclick="location='{:U('BatchSet/ssidlist')}'" class="span2 responsive" data-tablet="span2  fix-offset" data-desktop="span2">

			<div class="dashboard-stat blue">

				<div class="visual">

					<i class="icon-rss"></i>

				</div>

				<div class="details">

					<div class="number">热点管理</div>

				</div>
				
			</div>

		</div>

		<div onclick="location='{:U('BatchSet/Weblist')}'" class="span2 responsive" data-tablet="span2" data-desktop="span2">

			<div class="dashboard-stat yellow">

				<div class="visual">

					<i class="icon-th"></i>

				</div>

				<div class="details">

					<div class="number">媒体管理</div>

				</div>

			</div>

		</div>

	</div>

</div>